<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.base.mapper.OutputTaxAllMapper">
  <resultMap id="BaseResultMap" type="com.chen.base.entity.OutputTaxAll">
    <!--
    该方法由生成器生成,请勿修改
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="site" jdbcType="VARCHAR" property="site" />
    <result column="month_num" jdbcType="INTEGER" property="monthNum" />
    <result column="output_tax_all" jdbcType="REAL" property="outputTaxAll" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    该方法由生成器生成,请勿修改
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    该方法由生成器生成,请勿修改
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    该方法由生成器生成,请勿修改
    -->
    id, site, month_num, output_tax_all
  </sql>
  <select id="selectByExample" parameterType="com.chen.base.entity.OutputTaxAllExample" resultMap="BaseResultMap">
    <!--
    该方法由生成器生成,请勿修改
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from output_tax_all
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
    该方法由生成器生成,请勿修改
    -->
    select 
    <include refid="Base_Column_List" />
    from output_tax_all
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
    该方法由生成器生成,请勿修改
    -->
    delete from output_tax_all
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chen.base.entity.OutputTaxAllExample">
    <!--
    该方法由生成器生成,请勿修改
    -->
    delete from output_tax_all
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chen.base.entity.OutputTaxAll">
    <!--
    该方法由生成器生成,请勿修改
    -->
    insert into output_tax_all (id, site, month_num, 
      output_tax_all)
    values (#{id,jdbcType=INTEGER}, #{site,jdbcType=VARCHAR}, #{monthNum,jdbcType=INTEGER}, 
      #{outputTaxAll,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.chen.base.entity.OutputTaxAll">
    <!--
    该方法由生成器生成,请勿修改
    -->
    insert into output_tax_all
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="site != null">
        site,
      </if>
      <if test="monthNum != null">
        month_num,
      </if>
      <if test="outputTaxAll != null">
        output_tax_all,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="site != null">
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="monthNum != null">
        #{monthNum,jdbcType=INTEGER},
      </if>
      <if test="outputTaxAll != null">
        #{outputTaxAll,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chen.base.entity.OutputTaxAllExample" resultType="java.lang.Long">
    <!--
    该方法由生成器生成,请勿修改
    -->
    select count(*) from output_tax_all
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    该方法由生成器生成,请勿修改
    -->
    update output_tax_all
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.site != null">
        site = #{record.site,jdbcType=VARCHAR},
      </if>
      <if test="record.monthNum != null">
        month_num = #{record.monthNum,jdbcType=INTEGER},
      </if>
      <if test="record.outputTaxAll != null">
        output_tax_all = #{record.outputTaxAll,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    该方法由生成器生成,请勿修改
    -->
    update output_tax_all
    set id = #{record.id,jdbcType=INTEGER},
      site = #{record.site,jdbcType=VARCHAR},
      month_num = #{record.monthNum,jdbcType=INTEGER},
      output_tax_all = #{record.outputTaxAll,jdbcType=REAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chen.base.entity.OutputTaxAll">
    <!--
    该方法由生成器生成,请勿修改
    -->
    update output_tax_all
    <set>
      <if test="site != null">
        site = #{site,jdbcType=VARCHAR},
      </if>
      <if test="monthNum != null">
        month_num = #{monthNum,jdbcType=INTEGER},
      </if>
      <if test="outputTaxAll != null">
        output_tax_all = #{outputTaxAll,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chen.base.entity.OutputTaxAll">
    <!--
    该方法由生成器生成,请勿修改
    -->
    update output_tax_all
    set site = #{site,jdbcType=VARCHAR},
      month_num = #{monthNum,jdbcType=INTEGER},
      output_tax_all = #{outputTaxAll,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>