<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.base.mapper.PackingInfoMapper">
  <resultMap id="BaseResultMap" type="com.chen.base.entity.PackingInfo">
    <!--
    该方法由生成器生成,请勿修改
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="packing_id" jdbcType="VARCHAR" property="packingId" />
    <result column="target_warehouse_id" jdbcType="INTEGER" property="targetWarehouseId" />
    <result column="first_carrier_freight_all" jdbcType="REAL" property="firstCarrierFreightAll" />
    <result column="output_tax_vat_all" jdbcType="REAL" property="outputTaxVatAll" />
    <result column="pcradd_time" jdbcType="TIMESTAMP" property="pcraddTime" />
    <result column="flie_name" jdbcType="VARCHAR" property="flieName" />
    <result column="file_name_sysname" jdbcType="VARCHAR" property="fileNameSysname" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
    该方法由生成器生成,请勿修改
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
    该方法由生成器生成,请勿修改
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
    该方法由生成器生成,请勿修改
    -->
    id, packing_id, target_warehouse_id, first_carrier_freight_all, output_tax_vat_all,
    pcradd_time, flie_name, file_name_sysname, file_url
  </sql>
  <select id="selectByExample" parameterType="com.chen.base.entity.PackingInfoExample" resultMap="BaseResultMap">
    <!--
    该方法由生成器生成,请勿修改
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from packing_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
    该方法由生成器生成,请勿修改
    -->
    select
    <include refid="Base_Column_List" />
    from packing_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
    该方法由生成器生成,请勿修改
    -->
    delete from packing_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chen.base.entity.PackingInfoExample">
    <!--
    该方法由生成器生成,请勿修改
    -->
    delete from packing_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chen.base.entity.PackingInfo">
    <!--
    该方法由生成器生成,请勿修改
    -->
    insert into packing_info (id, packing_id, target_warehouse_id,
      first_carrier_freight_all, output_tax_vat_all, pcradd_time,
      flie_name, file_name_sysname, file_url
      )
    values (#{id,jdbcType=INTEGER}, #{packingId,jdbcType=VARCHAR}, #{targetWarehouseId,jdbcType=INTEGER},
      #{firstCarrierFreightAll,jdbcType=REAL}, #{outputTaxVatAll,jdbcType=REAL}, #{pcraddTime,jdbcType=TIMESTAMP},
      #{flieName,jdbcType=VARCHAR}, #{fileNameSysname,jdbcType=VARCHAR}, #{fileUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chen.base.entity.PackingInfo">
    <!--
    该方法由生成器生成,请勿修改
    -->
    insert into packing_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="packingId != null">
        packing_id,
      </if>
      <if test="targetWarehouseId != null">
        target_warehouse_id,
      </if>
      <if test="firstCarrierFreightAll != null">
        first_carrier_freight_all,
      </if>
      <if test="outputTaxVatAll != null">
        output_tax_vat_all,
      </if>
      <if test="pcraddTime != null">
        pcradd_time,
      </if>
      <if test="flieName != null">
        flie_name,
      </if>
      <if test="fileNameSysname != null">
        file_name_sysname,
      </if>
      <if test="fileUrl != null">
        file_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="packingId != null">
        #{packingId,jdbcType=VARCHAR},
      </if>
      <if test="targetWarehouseId != null">
        #{targetWarehouseId,jdbcType=INTEGER},
      </if>
      <if test="firstCarrierFreightAll != null">
        #{firstCarrierFreightAll,jdbcType=REAL},
      </if>
      <if test="outputTaxVatAll != null">
        #{outputTaxVatAll,jdbcType=REAL},
      </if>
      <if test="pcraddTime != null">
        #{pcraddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flieName != null">
        #{flieName,jdbcType=VARCHAR},
      </if>
      <if test="fileNameSysname != null">
        #{fileNameSysname,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertSelectiveReturnId" parameterType="com.chen.base.entity.PackingInfo"
          useGeneratedKeys="true" keyProperty="id">
    <!--
    该方法由生成器生成,请勿修改
    -->
    insert into packing_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="packingId != null">
        packing_id,
      </if>
      <if test="targetWarehouseId != null">
        target_warehouse_id,
      </if>
      <if test="firstCarrierFreightAll != null">
        first_carrier_freight_all,
      </if>
      <if test="outputTaxVatAll != null">
        output_tax_vat_all,
      </if>
      <if test="pcraddTime != null">
        pcradd_time,
      </if>
      <if test="flieName != null">
        flie_name,
      </if>
      <if test="fileNameSysname != null">
        file_name_sysname,
      </if>
      <if test="fileUrl != null">
        file_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="packingId != null">
        #{packingId,jdbcType=VARCHAR},
      </if>
      <if test="targetWarehouseId != null">
        #{targetWarehouseId,jdbcType=INTEGER},
      </if>
      <if test="firstCarrierFreightAll != null">
        #{firstCarrierFreightAll,jdbcType=REAL},
      </if>
      <if test="outputTaxVatAll != null">
        #{outputTaxVatAll,jdbcType=REAL},
      </if>
      <if test="pcraddTime != null">
        #{pcraddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flieName != null">
        #{flieName,jdbcType=VARCHAR},
      </if>
      <if test="fileNameSysname != null">
        #{fileNameSysname,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
    <select id="countByExample" parameterType="com.chen.base.entity.PackingInfoExample" resultType="java.lang.Long">
    <!--
    该方法由生成器生成,请勿修改
    -->
    select count(*) from packing_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
    该方法由生成器生成,请勿修改
    -->
    update packing_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.packingId != null">
        packing_id = #{record.packingId,jdbcType=VARCHAR},
      </if>
      <if test="record.targetWarehouseId != null">
        target_warehouse_id = #{record.targetWarehouseId,jdbcType=INTEGER},
      </if>
      <if test="record.firstCarrierFreightAll != null">
        first_carrier_freight_all = #{record.firstCarrierFreightAll,jdbcType=REAL},
      </if>
      <if test="record.outputTaxVatAll != null">
        output_tax_vat_all = #{record.outputTaxVatAll,jdbcType=REAL},
      </if>
      <if test="record.pcraddTime != null">
        pcradd_time = #{record.pcraddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.flieName != null">
        flie_name = #{record.flieName,jdbcType=VARCHAR},
      </if>
      <if test="record.fileNameSysname != null">
        file_name_sysname = #{record.fileNameSysname,jdbcType=VARCHAR},
      </if>
      <if test="record.fileUrl != null">
        file_url = #{record.fileUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
    该方法由生成器生成,请勿修改
    -->
    update packing_info
    set id = #{record.id,jdbcType=INTEGER},
      packing_id = #{record.packingId,jdbcType=VARCHAR},
      target_warehouse_id = #{record.targetWarehouseId,jdbcType=INTEGER},
      first_carrier_freight_all = #{record.firstCarrierFreightAll,jdbcType=REAL},
      output_tax_vat_all = #{record.outputTaxVatAll,jdbcType=REAL},
      pcradd_time = #{record.pcraddTime,jdbcType=TIMESTAMP},
      flie_name = #{record.flieName,jdbcType=VARCHAR},
      file_name_sysname = #{record.fileNameSysname,jdbcType=VARCHAR},
      file_url = #{record.fileUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chen.base.entity.PackingInfo">
    <!--
    该方法由生成器生成,请勿修改
    -->
    update packing_info
    <set>
      <if test="packingId != null">
        packing_id = #{packingId,jdbcType=VARCHAR},
      </if>
      <if test="targetWarehouseId != null">
        target_warehouse_id = #{targetWarehouseId,jdbcType=INTEGER},
      </if>
      <if test="firstCarrierFreightAll != null">
        first_carrier_freight_all = #{firstCarrierFreightAll,jdbcType=REAL},
      </if>
      <if test="outputTaxVatAll != null">
        output_tax_vat_all = #{outputTaxVatAll,jdbcType=REAL},
      </if>
      <if test="pcraddTime != null">
        pcradd_time = #{pcraddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flieName != null">
        flie_name = #{flieName,jdbcType=VARCHAR},
      </if>
      <if test="fileNameSysname != null">
        file_name_sysname = #{fileNameSysname,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chen.base.entity.PackingInfo">
    <!--
    该方法由生成器生成,请勿修改
    -->
    update packing_info
    set packing_id = #{packingId,jdbcType=VARCHAR},
      target_warehouse_id = #{targetWarehouseId,jdbcType=INTEGER},
      first_carrier_freight_all = #{firstCarrierFreightAll,jdbcType=REAL},
      output_tax_vat_all = #{outputTaxVatAll,jdbcType=REAL},
      pcradd_time = #{pcraddTime,jdbcType=TIMESTAMP},
      flie_name = #{flieName,jdbcType=VARCHAR},
      file_name_sysname = #{fileNameSysname,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
